{% extends 'base.html.twig' %}

{% block title %}Prostages - Ajouter une entreprise{% endblock %}

{% block titrePage %}
    <h1>Ajout d'une nouvelle entreprise</h1>
{% endblock %}

{% block contenuPage %}

    Ajout d'une entreprise ici

    {{ form(vueFormulaire) }}

{% endblock %}

{% block footerPage %}{% endblock %}
