{% extends 'base.html.twig' %}

{% block title %}Prostages - Entrerises{% endblock %}

{% block titrePage %}
    <h1>Liste des entreprises</h1>
{% endblock %}

{% block contenuPage %}
    {% for entrepriseCourante in entreprises %}
        <a href="{{path('stages-entreprise',{id:entrepriseCourante.id})}}">hello</a>
    {% endfor %}
{% endblock %}

{% block footerPage %}Footer des entreprises{% endblock %}