{% extends 'base.html.twig' %}

{% block title %}Prostages - Entrerises{% endblock %}

{% block titrePage %}
    <h1>Liste des entreprises</h1>
{% endblock %}

{% block contenuPage %}
    {% for entrepriseCourante in entreprises %}
        <h3>{{entrepriseCourante.nom}}
        <a href="{{path('stages-entreprise',{id:entrepriseCourante.id})}}">Voir les stages</a></h3>
        <br>
    {% endfor %}
{% endblock %}

{% block footerPage %}{% endblock %}