{% extends 'base.html.twig' %}

{% block title %}Prostages - Entrerises{% endblock %}

{% block titrePage %}
    <h1>Liste des entreprises</h1>
{% endblock %}

{% block contenuPage %}
    <h3>Ici apparaitra la liste des entreprises proposant des stages</h3>
{% endblock %}

{% block footerPage %}Footer des entreprises{% endblock %}