{% extends 'base.html.twig' %}

{% block title %}Prostages - Formations{% endblock %}

{% block titrePage %}
    <h1>Liste des formations</h1>
{% endblock %}

{% block contenuPage %}
    {% for formationCourante in formations %}
        <h3>{{formationCourante.nomLong}}
        <a href="{{path('stages-formation',{id:formationCourante.id})}}">Voir les stages</a></h3>
        <br>
    {% endfor %}
{% endblock %}

{% block footerPage %}{% endblock %}