{% extends 'base.html.twig' %}

{% block title %}Prostages - Formations{% endblock %}

{% block titrePage %}
    <h1>Liste des formations</h1>
{% endblock %}

{% block contenuPage %}
    <h3>Ici apparaitra la liste des formations disponibles</h3>
{% endblock %}

{% block footerPage %}{% endblock %}