{% extends 'base.html.twig' %}

{% block title %}Prostages - Accueil{% endblock %}

{% block titrePage %}
    <h1>Liste des stages</h1>
{% endblock %}

{% block contenuPage %}
    <h3>Ici apparaitra la liste des stages disponibles</h3>
{% endblock %}

{% block footerPage %}{% endblock %}
