{% extends 'base.html.twig' %}

{% block title %}Prostages - Accueil{% endblock %}

{% block titrePage %}
    <h1>Liste des stages</h1>
{% endblock %}

{% block contenuPage %}
    
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                {% for stageCourant in stages %}
                    <div class="col-md-4">
                        <div class="card bg-default" style="margin-bottom: 25px">
                            <h5 class="card-header">
                                {{stageCourant.titre}}
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    {{stageCourant.descMission}}
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href = "{{path('stage-id',{id:stageCourant.id})}}">En savoir plus ...</a>
                            </div>
                        </div>
                    </div>
                {% if loop.index % 3 == 0 %}
                <br>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>

    

{% endblock %}

{% block footerPage %}{% endblock %}
