{% extends 'base.html.twig' %}

{% block title %}Prostages - Accueil{% endblock %}

{% block titrePage %}
    <h1>Liste des stages</h1>
{% endblock %}

{% block contenuPage %}
    {% for stageCourant in stages %}
        <div class="card-deck">
            <div class="card bg-default">
                <h5 class="card-header">
                    {{stageCourant.titre}}
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        {{stageCourant.descMission}}
                    </p>
                </div>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block footerPage %}{% endblock %}
