{% extends 'base.html.twig' %}

{% block title %}Prostages - Stage{% endblock %}

{% block titrePage %}
    <h1>Stage : {{stage.titre}}</h1>
{% endblock %}

{% block contenuPage %}
    
    <h2>Entreprise : {{stage.enreprise.nom}}</h2>
    <h5>Description : {{stage.descMission}}</h5>
    <p>Email de contact : {{stage.emailContact}}</p>

    

{% endblock %}

{% block footerPage %}{% endblock %}